body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.sidebar {
  background: rgb(255, 255, 255);
  left: 0;
  position: fixed;
  width: 40%;
  height: 100%;
  overflow: auto;
  align-items: center;
}

#put{ /* лента желанных книг */
  margin-bottom: 1.5em;
  border: 4px solid rgb(202, 224, 207);
  border-radius: 5px;
  background: #FEFEFE;
  color: #231F20;
  text-align: center;
  padding: 10px;
  max-height: 300px;
  overflow: auto;
}

#dropzone{
  text-align: center;
  padding: 20px;
}
.tape{
  background: rgb(255, 255, 255);
  position: fixed;
  right: 0; 
  width: 60%;
  height: 100%;
}

.book-item {
  display: flex;
  font-size: 1rem;
  border-top: 2px solid rgba(0,0,0,.1);
  background-color: rgb(248, 255, 253);
  transition: all .2s;
  padding: 1em;
  align-items: center;
}
#books-list{
  height: 700px;
  overflow: scroll;
}
.book-item .title,
.book-item .textfield {
  margin-right: auto;
}

.book-item .title,
.book-item .author {
  background-color: rgb(195, 255, 238);
} 

.book-item .textfield {
  display: none;
}

.book-item.editing .checkbox,
.book-item.editing .title {
  display: none;
}

.book-item.editing .textfield {
  display: block;
  flex: 1;
  margin-right: 10px;
}

#item{
  padding: 2px;
  margin-left: 10px;
}

#item ul {
  position: relative;
  margin-bottom: 1.5em;
  border: 4px solid rgb(202, 224, 207);
  padding: 5px;
  border-radius: 5px;
  background: #FEFEFE;
  color: #231F20;
  }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

#modal_content {
  margin: 300px auto;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  width: 30%;
  z-index: 99999;
}

#close_modal_window {
  color: rgb(255, 0, 0);
  float: right;
  font-size: 30px;
  cursor: pointer;
}

#books-form{
  margin-left: 3.5em;
  align-items: center;
}

#headtape{
  margin: 0px 200px;
  display: flex;
  transition: all .2s;
  align-items: center;
}
.endBookButton {
  background: url(../image/odobrenno.png); 
  background-size: 100%;
  width: 30px;  height: 30px;
  border-radius: 50%;
  border: 0;
}
.remove, .removeBooks{
  background: url(../image/delete.png); 
  background-size: 100%;
  width: 25px;  height: 40px;
}
